<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 30px;
        }
        p {
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>Shorten your URL link</h1>
    <form action="/create_link" method = "POST">
        <p>Enter expire date (mm/dd/yyyy) or left blank:<input type = "text" name = "expire_date" /></p>
        <input type = "hidden" name = "url" value={{url}} />
    </form>
</body>
</html>